#leyenda {
    color: #e3cece;
    font-family: Georgia, Times, serif;
    font-size: 25px;
    font-style: italic;
    padding-bottom: 11px;
    border-bottom: 0px solid #c4bdbd;
    margin-bottom: 0px;
    text-align: center;
    text-decoration: underline; 
  }

  th[rowspan] {
    font-family: Georgia, Times, serif;
    font-size: 11px;
    writing-mode: vertical-lr;
    padding-right: 15px;
  }
  

  .separador > td {
    border-top: 1px solid #bfbfbf;
  }

  table {
    margin: 0 auto;
    border-collapse: collapse;
    border-spacing: 0;
  }
  th {
    font-size: 17px;
    text-align: left;
  }

  td {
    padding-right: 20px;
    font-size: 16px;
    line-height: 2.2;
  }

  tr:nth-child(2n+1) > td {
    background: #8a8a8a;
    text-align: center;
  }

  tr:nth-child(2n) > td {
    background: #473c3c;
    text-align: center;
  }



  